.form-title {
  font-weight: 500;
  font-size: 64px;
  line-height: 132%;
  text-align: center;
  color: #000000;
  margin: 0;
}
.form-subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 148%;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 24px;
}
