<main class="d-flex flex-column h-100">
  <app-header class="app-header d-flex"></app-header>

  <div class="content flex-grow-1" role="main">
    <app-form-title
      [actionText]="formTokenTitle">
    </app-form-title>
    <app-form-token
      *ngIf="formTokenCreate; else elseBlock"
      (eventFormSubmit)='eventTokenCreate($event)'>
    </app-form-token>

    <ng-template #elseBlock>
      <app-token-view
        [formToken]="formToken">
      </app-token-view>
    </ng-template>
  </div>

  <app-footer class="app-footer"></app-footer>
</main>


