.app-token-view {
  & div > p:first-child {
    font-weight: 400;
    font-size: 12px;
    line-height: initial;
    color: #727272;
    margin-bottom: 6px;
  }

  & div > p:last-child {
    font-weight: 700;
    font-size: 14px;
    display: flex;
    line-height: initial;
    align-items: center;
    color: #000000;
  }
}
